body {
    background-color: slategrey;
}




#GT {
    text-align: center;
}

#gt {
    text-align: center;
}



#img {
    float: right;
            margin-left: 10px;
}



#md {
    text-align: right;
}

#MD {
    text-align: right;
}