th {
    background-color: orange;
}

.first {
    background-color: orange;
}


#table {
    color: aqua;
}

.th {
    background-color: purple;
}

#f34 {
    background-color: orange;
    color: purple;
}

#f56 {
    background-color: orange;
    color: purple;
}

#h1 {
    color: aqua;
}

#h2 {
    color: blueviolet;
}

#h3 {
    color: orange;
}